<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>A0F8A236A93E07B0B73E63C8D60DE9916831C1C3FE1135493684649AF71E13B3703C6EF41F7F49A07BA467800E51982D</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appticsPushNotofication</string>
	<key>SERVER_URL</key>
	<string>https://apptics.zoho.in</string>
</dict>
</plist>
